<header class="site-header">
  <div class="site-branding">
    <p class="site-title">Irish Session Toulon</p>
    <p class="site-description">
      Deux lieux de sessions sur la région de Toulon
    </p>
  </div>
  <input
    type="checkbox"
    id="top-nav"
    name="top-nav"
    aria-labelledby="top-nav-toggle"
  />
  <label for="top-nav" class="top-nav-label" id="top-nav-toggle">
    <span class="open-close-menu">
      <span class="open-menu">Open menu</span>
      <span class="close-menu">Close menu</span>
    </span>
  </label>
  <nav class="main-navigation">
    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="menu-item">
        <a
          routerLink="/sets"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Sets</a
        >
      </li>
      <li class="menu-item">
        <a
          routerLink="/tunes"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Tunes</a
        >
      </li>
      <li class="menu-item">
        <a
          routerLink="/toolbox"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Boite à outils</a
        >
      </li>
      <li class="menu-item">
        <a
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact</a
        >
      </li>
      <li class="menu-item">
        <a
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><i class="pi pi-facebook"></i
        ></a>
      </li>
      <li class="menu-item">
        <a>Admin</a>
      </li>
    </ul>
  </nav>
</header>
