<div *ngIf="tunes">
  Il y a {{ tunes.length }} morceaux

  <p-table
    [value]="tunes"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="attributes.title">
          Nom <p-sortIcon field="attributes.title"></p-sortIcon>
        </th>
        <th pSortableColumn="attributes.tonality">
          Tonalité <p-sortIcon field="attributes.tonality"></p-sortIcon>
        </th>
        <th pSortableColumn="attributes.genre">
          Genre <p-sortIcon field="attributes.genre"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tune>
      <tr>
        <td>
          <a [routerLink]="['/tunes', tune.id]">
            {{ tune.attributes.title }}
          </a>
        </td>
        <td>{{ tune.attributes.tonality }}</td>
        <td>{{ tune.attributes.genre }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
